
/* Flex container for plant cards */
.plant-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 20px; /* Adjust the gap between cards */
    padding: 20px; /* Adjust the padding around the grid */
  }
  
  /* Individual plant card */
  .plant-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
  }
  
  /* Plant image */
  .plant-image {
    width: 100%;
    height: auto;
  }
  
  /* Plant name */
  .plant-name {
    font-weight: bold;
    margin-top: 10px;
    text-align: center; /* Center the text */
    color: white;
  }
  
  /* Plant quantity */
  .plant-quantity {
    margin-top: 5px;
    text-align: center; /* Center the text */
    color: white;
  }
  .my-garden-title {
    color: #080808;
    font-size: xx-large;
    font: bold;
    background-color: rgb(252, 252, 251); 
  }
  .custom-button {
    --color: #fbf8f8;
  --background: #9d2b05;
  --padding-start: 12px; /* Adjust this value to increase or decrease the button size */
  --padding-end: 16px; /* Adjust this value to increase or decrease the button size */
  --padding-top: 12px; /* Adjust this value to increase or decrease the button size */
  --padding-bottom: 20px;
  --align-items: center;
  margin-top: 30px;
     
  }
  @media only screen and (max-width: 600px) {
    /* Plant card styles */
    .plant-card {
      width: 100%;
      margin: 5px 0;
    }}


/* Background styling for modal content */
.modal-content {
    background-image: url('https://t4.ftcdn.net/jpg/05/96/53/35/360_F_596533582_UgVp2PyEDGWBx71tKyFm9jvYRnSvVerZ.jpg'); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .modal-header{
    color: #000;
    background-color: #ccc;
    font-size: large;
  }
  /* Font color for modal content */
.modal-content p {
    color: rgb(6, 6, 6); /* Change to your desired font color */
  }
  
  /* Font color for modal header */
  .modal-content h2 {
    color: rgb(237, 8, 8); /* Change to your desired font color */
  }
  .modal-header {
    background-color: #096a07; /* Replace with your desired background color */
  }
  .ion-text {
    background-color: #a7d7f3;
  }
  /* Font color for modal header */
  .modal-header h2 {
    color: white; /* Change to your desired font color */
  }